@model FruverOneWebClient.Models.CustomerTemplate

@{
    ViewBag.Title = "¡Bienvenido!";
}

<div class="form-horizontal">
    @{

        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }
    }
</div>

<h2>¡Es un placer tenerte con nosotros!</h2>

<div>
    <h4>Tu registro ha sido completado de forma satisfactoria, a continuación un resumen de los datos suministrados:</h4>
    <hr />

    @if (Model.Document != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Document)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Document)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    @Html.ActionLink("Ir Al Inicio","Frutas","Product",null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>

    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /*id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
