@model FruverOneWebClient.Models.CustomerTemplate
<link href="~/StylesPage/stylesLogin.css" rel="stylesheet">
@if(!User.Identity.IsAuthenticated)
{
    
    ViewBag.Title = "Completa Tus Datos";
    
    using (Html.BeginForm("Create", "RegisterCustomer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="register-sombra">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="~/Img/fruverlogo.png" id="icon" alt="User Icon" />
                        <div class="panel-heading">
                            <h3 class="panel-title">¡Has parte del progreso!</h3>
                        </div>
                        <h5 class="text-center">Completa los campos</h5>
                    </div>

                    <!-- Login Form -->
                    <form method="post">
                        @{

                            if (!string.IsNullOrEmpty(ViewBag.Message))
                            {
                                <div class="alert alert-warning">@ViewBag.Message</div>
                            }
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @type = "text", @class = "fadeIn third", @placeholder = "Ingrese Su Documento" } })
                                @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Ingrese Su Apellido" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Ingrese Su Correo Electrónico" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Código ZIP de su área" } })
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.NameOrganization, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Ingrese el nombre de su negocio" } })
                                @Html.ValidationMessageFor(model => model.NameOrganization, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "fadeIn third", @type = "number", @placeholder = "Ingrese teléfono de contacto" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Ingrese Su Dirección de Operación" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Digite una contraseña segura" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="">
                                @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Confirme su contraseña" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="submit" class="fadeIn fourth" value="Crear Cuenta">

                    </form>
                    <!-- Remind Passowrd -->
                    <div id="formFooter">

                        <li>¿Ya tiene una cuenta? @Html.ActionLink("iniciar sesión", "Index", "Login", new { area = "" }, new { @class = "underlineHover" })</li>
                    </div>

                </div>
            </div>

        </div>


     }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
