<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FruverONE</title>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/JS/BrowserProduct.js")
</head>
<body class="">
    <div class="container body-content">


        <div class="row">
            <div class="col-md-3 ml-md-auto">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                </svg>
                @Html.ActionLink("Ingresar", "Index", "RegisterCustomer")
                &nbsp;&nbsp;&nbsp;&nbsp;
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                </svg>
                @Html.ActionLink("Registrar Usuario", "Index", "RegisterCustomer")
            </div>
         </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <img src="~/Img/fruverOne.jpeg" width="70" height="70" />&nbsp;&nbsp;
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand red" })

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">



                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catálogo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">@Html.ActionLink("Frutas", "Frutas", "Product")</a>
                                    <a class="dropdown-item">@Html.ActionLink("Verduras", "Verduras", "Product")</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">@Html.ActionLink("Productos Estrellas", "Estrella", "Product")</a>
                                </div>

                            </li>  &nbsp;&nbsp;
                            &nbsp;&nbsp;
                            <li class="nav-item">
                                @Html.ActionLink("Promociones", "Index", "PromotionProduct", new { area = "" }, new { @class = "navbar-brand red" })
                            </li>
                            <li class="nav-item">

                                @Html.ActionLink("Acerca de nosotros", "Index", "Home", new { area = "" }, new { @class = "navbar-brand red" })
                            </li>  &nbsp;&nbsp;
                            <li class="nav-item">
                                @Html.ActionLink("Contacto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand red" })

                            </li>
                            &nbsp;&nbsp;

                        </ul>
                        @using (Html.BeginForm("viewProduct", "Product"))
                        {

                            <form class="form-inline my-2 my-lg-0">
                                <input id="myInput" name="nameProduct" class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    Buscar
                                </button>
                            </form>
                        }
                    </div>


                </nav>

                <div class="row">
                    <div class="col-md-3 ml-md-auto">
                        <div class="position-absolute">
                            <div id="listName">
                                <div style="height:115px; overflow: auto;">
                                    <div id="list">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                @RenderBody()
                <hr />
                <footer>
                    <p class="text-center">&copy; @DateTime.Now.Year - FruverONE</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)



</body>
</html>
